<div class="container-principal">
  <div class="calculadora">
    <input [ngModel]="resultado.value" id="resultado" #resultado type="text" class="form-control resultado" placeholder="0" disabled="disabled">
    <div class="row">
      <button (click)="limpaFormulario()" type="button" class="btn btnAction clear font-weight-light">C</button>
      <button (click)="insereAcao(' / ')" type="button" class="btn btnAction font-weight-light">/</button>
      <button (click)="insereAcao(' x ')" type="button" class="btn btnAction font-weight-light">x</button>
    </div>

    <div class="row">
      <button (click)="insereAcao('% de ')" type="button" class="btn btnAction font-weight-light">%</button>
      <button (click)="insereAcao('^')" type="button" class="btn btnAction font-weight-light">^</button>
      <button (click)="insereAcao('!')" type="button" class="btn btnAction font-weight-light">!</button>
      <button (click)="insereAcao('&radic;')" type="button" class="btn btnAction font-weight-light"> &radic;</button>
    </div>

    <div class="row">
      <button (click)="insereNumero('7')" type="button" class="btn font-weight-light">7</button>
      <button (click)="insereNumero('8')" type="button" class="btn font-weight-light">8</button>
      <button (click)="insereNumero('9')" type="button" class="btn font-weight-light button9" #button9 >9</button>
      <button (click)="insereAcao(' -')" type="button" class="btn btnAction font-weight-light menos">-</button>
    </div>

    <div class="row">
      <button (click)="insereNumero('4')" type="button" class="btn font-weight-light">4</button>
      <button (click)="insereNumero('5')" type="button" class="btn font-weight-light">5</button>
      <button (click)="insereNumero('6')" type="button" class="btn font-weight-light">6</button>
      <button (click)="insereAcao(' + ')" type="button" class="btn btnAction   font-weight-light mais">+</button>
    </div>

    <div class="row last-Row">
      <button (click)="insereNumero('1')" type="button" class="btn font-weight-light buttonChanges">1</button>
      <button (click)="insereNumero('2')" type="button" class="btn font-weight-light buttonChanges">2</button>
      <button (click)="insereNumero('3')" type="button" class="btn font-weight-light buttonChanges">3</button>
      <button (click)="emiteDadosParaBack()" type="button" class="btn font-weight-light enter">=</button>
    </div>

    <div class="row zeroRow">
      <button (click)="insereNumero('0')" type="button" class="btn btn-dark zero btn-lg font-weight-light">0</button>
      <button (click)="inserePonto('.')"type="button" class="btn font-weight-light point">.</button>
    </div>
  </div>
</div>